$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

html,
body,
div {
  font: 12px "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}

body {
  font-size: 12px;
  font-family: "Trebuchet MS", sans-serif;
  color: #444444;
}

.ui-widget {
  font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
  font-size: 11px !important;
}

.space {
  display: inline-block;
  width: 10px;
}

.clear {
  clear: both;
}

/* dialog */
.dialog {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  padding: 15px 20px;
  width: 400px;
  line-height: 25px;
  z-index: 10;
  margin: auto;
}

.dialog A {
  display: block;
  line-height: 25px;
}

@mixin thumb() {
  cursor: move;
  width: 70px;
  height: 70px;
  background-color: #BDBDBD;
  color: white;
  font-size: 38px;
  text-align: center;
  line-height: 65px;
}

.document {
  margin: 0 0 20px 0;

  input[type=checkbox] {
    display: none;
  }

  .url {
    color: #006621;
    margin-bottom: 5px;
  }

  // todo improve the following 3 rules with scss
  input:checked + div {
    .thumb {
      display: none;
    }
    .thumb-check {
      display: block;;
    }
  }

  input + div {
    .thumb {
      display: block;
    }
    .thumb-check {
      display: none;
    }
  }

  .thumb {
    @include thumb()
  }
  .thumb-check {
    @include thumb();
    background-color: rgba(59, 59, 59, 0.10);
  }
  .thumb-a {
    background-color: #FA5858;
  }
  .thumb-b {
    background-color: #FA8258;
  }
  .thumb-c {
    background-color: #FAAC58;
  }
  .thumb-d {
    background-color: #F7D358;
  }
  .thumb-e {
    background-color: #F4FA58;
  }
  .thumb-f {
    background-color: #D0FA58;
  }
  .thumb-g {
    background-color: #ACFA58;
  }
  .thumb-h {
    background-color: #82FA58;
  }
  .thumb-i {
    background-color: #58FA58;
  }
  .thumb-j {
    background-color: #58FA82;
  }
  .thumb-k {
    background-color: #58FAAC;
  }
  .thumb-l {
    background-color: #58FAD0;
  }
  .thumb-m {
    background-color: #58FAF4;
  }
  .thumb-n {
    background-color: #58D3F7;
  }
  .thumb-o {
    background-color: #58ACFA;
  }
  .thumb-p {
    background-color: #5882FA;
  }
  .thumb-q {
    background-color: #5858FA;
  }
  .thumb-r {
    background-color: #8258FA;
  }
  .thumb-s {
    background-color: #AC58FA;
  }
  .thumb-t {
    background-color: #D358F7;
  }
  .thumb-u {
    background-color: #FA58F4;
  }
  .thumb-v {
    background-color: #FA58D0;
  }
  .thumb-w {
    background-color: #FA58AC;
  }
  .thumb-x {
    background-color: #FA5882;
  }
  .thumb-y {
    background-color: #BDBDBD;
  }
  .thumb-z {
    background-color: #FA5858;
  }

}

.editor {
  margin: 15px;
}

.database {

  ol {
    margin: 0;
    padding: 0;
  }

  li {
    list-style: none;
    margin: 0;
    padding: 0;

    .dropping-document > A {
      color: red !important;
      text-decoration: underline;
    }

    .count {
      color: #666666;
      padding-right: 4px;
    }

    .folder {
      &.active,
      &.active.empty {

        background-color: #3875d6;
        color: #efefef;
        & > A.name {
          color: #efefef;
        }

      }
      //   dim empty folders
      &.empty {
        & > A.name {
          color: #666666;
        }

        .count {
          color: #bdbdbd;
        }
      }
    }
  }

  @for $i from 0 through 10 {
    .level-#{$i} {
      padding-left: #{($i * 17)}px;
      line-height: 20px;
    }
  }
  .toggle {
    color: #aeaeae;
  }
}

#search-view {
  .document {
    em {
      background-color: yellow;
      padding: 2px;
      font-style: normal;
      font-weight: bold;
    }
  }

  .document-score {
    overflow: hidden;
    background-color: #efefef;
    margin-top: 10px;

    DIV {
      min-width: 5%;
    }
  }

  .search-info {
    padding: 10px 15px;
    display: block;
  }
}

.breadcrumbs {
  height: 32px;
  border-bottom: 1px solid #efefef;

  ol {
    list-style: none outside none;
    margin-bottom: 20px;
    padding: 8px 15px;
  }
  li {
    display: inline-block;
    padding: 3px 4px;
  }
}

.header-row {
  background: none repeat scroll 0 0 #F1F1F1;
  border-bottom: 1px solid #e1e1e1;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 100%;

  &:after,
  &:before {
    clear: both;
    content: " ";
    display: table;
  }
}