$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

html,
body,
div {
  font: 12px "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}

body {
  font-size: 12px;
  font-family: "Trebuchet MS", sans-serif;
  color: #444444;
}

.ui-widget {
  font-family: Trebuchet MS, Tahoma, Verdana, Arial, sans-serif;
  font-size: 11px !important;
}

.space {
  display: inline-block;
  width: 10px;
}

.clear {
  clear: both;
}

/* dialog */
.dialog {
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  padding: 15px 20px;
  width: 400px;
  line-height: 25px;
  z-index: 10;
  margin: auto;
}

.dialog A {
  display: block;
  line-height: 25px;
}

.doc {
  margin: 0 0 20px 0;
}

.editor {
  margin: 15px;
}

#databases {

  font-size: 14px;

  ol {
    background-image: url(../images/tree/tree-vertical.png);
    background-repeat: repeat-y;
    background-position: left top;
    margin: 0;
    padding: 0;
  }

  li {
    background-image: url(../images/tree/tree-horizontal.png);
    background-repeat: no-repeat;
    background-position: left top;
    list-style: none;
    margin: 0;
    line-height: 20px;
    padding: 0;
    padding-left: 22px;
  }
}