$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import "sass-bootstrap/lib/variables";
@import "sass-bootstrap/lib/mixins";
@import "sass-bootstrap/lib/navs";
@import "sass-bootstrap/lib/buttons";
@import "sass-bootstrap/lib/type";

.notes-cmp {
  font: 12px "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}

.notes-ticker {
  background-color: white;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
  color: #666666;
  z-index: 3000;
  width: 100%;
  left: 0px;
  padding: 6px 0;
  border-bottom: 1px solid #CCCCCC;
  position: fixed;
}

.notes-button {
  border-radius: 2px;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  cursor: pointer;
  display: inline-block;
  font-size: 11px;
  font-weight: bold;
  height: 28px;
  line-height: normal;
  outline: 0 none;
  padding: 0 10px;
  text-decoration: none;
  vertical-align: middle;
  white-space: nowrap;
  word-wrap: normal;
}

.notes-snippet {
  max-height: 300px;
  display: none;
  background-color: white;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
  border: 1px solid #cccccc;
  padding: 10px;
  z-index: 300;
  border-radius: 5px;
}

.notes-snippet-image {
  opacity: 0.5;
  background-color: black;
}

.notes-snippet A {
  color: #efefef;
  overflow: hidden;
}