<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <distributable/>

    <filter>
        <filter-name>BridgeFilter</filter-name>
        <filter-class>org.notes.core.request.RequestPropertyBridgeFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>BridgeFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>fileServlet</servlet-name>
        <servlet-class>org.notes.core.services.FileServlet</servlet-class>
        <init-param>
            <param-name>basePath</param-name>
            <param-value>/WEB-INF/resources</param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>fileServlet</servlet-name>
        <url-pattern>/resources/*</url-pattern>
    </servlet-mapping>

</web-app>
