<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" xmlns="http://www.w3.org/1999/html"> <!--<![endif]-->
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!-- build:css styles/vendor.css -->
    <!-- bower:css -->
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css(.tmp) styles/main.compiled.css -->
    <link rel="stylesheet" href="styles/main.compiled.css">
    <!-- endbuild -->

    <link rel="stylesheet" href="scripts/pdf/pdf.css">
    <link rel="stylesheet" href="scripts/fileupload/jquery.fileupload-ui.css">

    <link rel="stylesheet" href="bower_components/jquery-ui/themes/base/jquery.ui.all.css">

    <!-- editor -->
    <link rel="stylesheet" href="bower_components/summernote/dist/summernote.css">

    <!-- Icon Font -->
    <link rel="stylesheet" href="bower_components/font-awesome/css/font-awesome.min.css">

    <script src="bower_components/modernizr/modernizr.js"></script>

</head>

<body>

<!--[if lt IE 7]>
<p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a></p>
<![endif]-->

<div id="init-view">

    <h4 style="margin: 20px;"><i class="fa fa-spinner fa-spin"></i> processing...</h4>

    <!--<div class="container">-->
    <!--<div class="row">-->
    <!--<div class="col-lg-2">-->
    <!--<input type="text" placeholder="username" name="username" id="field-username" value="guest">-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
    <!--<div class="col-lg-2">-->
    <!--<input type="password" placeholder="password" name="password" id="field-password" value="test">-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
    <!--<div class="col-lg-2">-->
    <!--<input type="text" placeholder="email" name="email" id="field-email" value="someone@gmail.com">-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
    <!--<div class="col-lg-2">-->
    <!--<input type="button" value="Register" id="btt-register" onclick="notes.register()">-->
    <!--<input type="button" value="Login" id="btt-login" onclick="notes.login()">-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
</div>
<!-- /init-view -->


<div id="content-view" style="display: none">

<div class="container" style="margin-left: 0;">

<!-- CONTENT TOP -->
<div class="row"
     style="background: none repeat scroll 0 0 #F1F1F1; border-bottom: 1px solid #e1e1e1; padding-top:8px; padding-bottom:8px;">

    <!-- LEFT -->
    <div class="col-lg-3">

    </div>

    <!-- CONTENT -->

    <div class="col-lg-5">
        <div class="input-group">
            <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"><span
                        id="search-context-label">All</span> <span
                        class="caret"></span></button>
                <ul class="dropdown-menu">
                    <li role="presentation" class="dropdown-header">Places</li>
                    <li><a href="#" onclick="notes.queries.contextOnly(false)">All Folders</a></li>
                    <li><a href="#" onclick="notes.queries.contextOnly(true)">Current Folder</a></li>

                </ul>
            </div>
            <!-- /btn-group -->

            <input id="search-input" class="form-control" type="text" name="query"
                   placeholder="Search"/>
                    <span class="input-group-btn">
                        <button id="action-search" class="btn btn-default" type="button">Go!</button>
                      </span>
        </div>
        <!-- /input group -->
    </div>
    <!-- /col-lg-5 -->

    <div class="col-lg-2">

        <div class="btn-group dropdown">
            <button type="button" class="btn btn-default" data-toggle="modal"
                    data-target="#create-document-modal">New
            </button>

            <div class="modal" id="create-document-modal" tabindex="-1" role="dialog" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal"
                                    aria-hidden="true">&times;</button>
                            <h4 class="modal-title">New Document</h4>
                        </div>
                        <div class="modal-body">
                            <p><input name="name" type="text" placeholder="title of document"
                                      id="new-document-title" class="form-control"></p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary" data-dismiss="modal"
                                    onclick="notes.editors.create($('#new-document-title').val())">
                                Create
                            </button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->


            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <span class="caret"></span>
                <span class="sr-only">Toggle Dropdown</span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="create-doc">
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="#" onclick="$('#create-document-modal').modal()">Document</a>
                </li>
                <li role="presentation" class="divider"></li>
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="#" onclick="$('#file-upload').click()">File</a>
                </li>
                <li role="presentation">
                    <a role="menuitem" tabindex="-1" href="#" onclick="notes.dialog.document.bookmark()">Web</a>
                </li>
            </ul>
        </div>
        <!-- /dropdown -->
    </div>
    <!-- col-lg-2 -->
</div>
<!-- row content top-->

<!-- CONTENT MAIN -->

<div id="document-and-folder-view">

    <div class="row">
        <div id="breadcrumbs" class="breadcrumbs">
            <!-- generated -->
        </div>
        <!-- /breadcrumbs -->
    </div>

    <div class="row">

        <!-- LEFT -->
        <div class="col-lg-3 sidebar" style="border-right: 1px solid #E2E2E2; min-height: 600px;">

            <div id="databases"><!-- generated --></div>

        </div>
        <!-- /sidebar -->

        <!-- DOCUMENT VIEW -->

        <div id="document-view">

            <div id="editors"><!-- generated --></div>

        </div>
        <!-- /document view-->

        <!-- FOLDER VIEW -->

        <div id="folder-view" style="display: none">

            <div class="col-lg-9">

                <div class="navbar">

                    <ul class="nav nav-tabs">
                        <li><a href="#"><i class="fa fa-angle-up"></i></a></li>
                        <li><a href="#"
                               onclick="notes.dialog.folder.newFolder(new notes.model.Folder({id:notes.folders.activeFolderId()}))">New
                            Folder</a></li>

                        <li class="pull-right dropdown">
                            <a class="dropdown-toggle" id="sort-options" data-toggle="dropdown" href="#">
                                Sort <i class="fa fa-angle-down fa-fw"></i>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="sort-options">
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#"
                                                           class="">By Date</a></li>
                            </ul>
                        </li>

                        <li class="pull-right dropdown">
                            <a class="dropdown-toggle" id="folder-options" data-toggle="dropdown" href="#">
                                More <i class="fa fa-angle-down fa-fw"></i>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="folder-options">
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#"
                                                           class="action-folder-rename">Rename Folder</a></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="#"
                                                           class="action-folder-delete">Delete Folder</a></li>
                            </ul>
                        </li>
                    </ul>

                </div>
                <!-- /navbar -->

                <div id="document-list" style="margin-top: 5px"><!-- generated --></div>

            </div>
            <!-- /col-lg-9 -->
        </div>
        <!-- /folder view -->
    </div>
    <!-- /row -->
</div>
<!-- /document and folder view -->

<!-- SEARCH VIEW -->

<div id="search-view" style="display: none">

    <div class="row">
        <div class="breadcrumbs">

            <ol>
                <li class="dropdown">
                    <i class="fa fa-dot-circle-o fa-lg"></i>
                    <a style="font-weight: bold;" href="#">
                        Search
                    </a>
                    <i class="fa fa-angle-right fa-fw"></i>
                </li>
            </ol>

        </div>
        <!-- /breadcrumbs -->
    </div>

    <div class="row">

        <!-- LEFT -->
        <div class="col-lg-3 sidebar" style="border-right: 1px solid #E2E2E2; min-height: 600px;">

            <!--todo facettes-->

        </div>
        <!-- /sidebar -->

        <div class="col-lg-9">

            <div class="navbar">

                <ul class="nav nav-tabs">

                    <li class="search-info"><span class="numFound">0</span> results (<span
                            class="elapsedTime">0.00</span> seconds)
                    </li>

                    <li class="pull-right dropdown">
                        <a class="dropdown-toggle" id="search-options" data-toggle="dropdown" href="#">
                            More <i class="fa fa-angle-down fa-fw"></i>
                        </a>
                        <ul class="dropdown-menu" role="menu" aria-labelledby="search-options">
                            <li role="presentation"><a role="menuitem" tabindex="-1" href="#"
                                                       class="action-save-search">Save Search</a></li>
                        </ul>
                    </li>
                </ul>

            </div>
            <!-- /navbar -->

            <div class="hit-list" style="margin-top: 15px"><!-- generated --></div>

        </div>
        <!-- /col-lg-9 -->
    </div>
    <!-- /row -->

</div>
<!-- /search view -->
</div>
<!-- /container -->

</div>
<!-- /content-view -->

<div id="dialog"></div>
<!--<div id="bookmark-preview"-->
<!--style="position:fixed; top:0; left: 0; background-color: white; width: 100%; height: 100%; display:none">-->
<!--&lt;!&ndash;<div style="position: absolute; height: 200px; width: 400px; margin: -100px 0 0 -200px; top: 50%; left: 50%;"><img src="img/spinner.gif"><span style="margin-left:5px">waiting for snapshot</span></div>&ndash;&gt;
-->
<!--<div id="bookmark-preview-pdf" class="pdf-container" style="width: 1024px; margin:auto;"></div>-->
<!--</div>-->
<div style="display: none">
    <input id="file-upload" type="file" name="files[]" multiple>
</div>

<script type="text/template" id="recommendations">
    <div style="margin-top: 80px; padding-top:10px; border-top: 1px solid #E2E2E2;">
        <h4>Recommended</h4>

        <div class="recommendations">
            <i class="fa fa-spinner fa-spin"></i>
            <!-- generated -->
        </div>
    </div>
</script>
<!-- /recommendations -->

<script type="text/template" id="fulltext">

    <div class="panel-group" id="panel-fulltext" style="margin-top: 60px;">
        <div class="panel" style="box-shadow: none">
            <div class="panel-heading" style="background-color:none;">
                <h4 class="panel-title">
                    <i class="fa fa-angle-down"></i>
                    <a data-toggle="collapse" data-parent="#panel-fulltext" href="#collapse-fulltext">
                        Full Text
                    </a>
                </h4>
            </div>
            <div id="collapse-fulltext" class="panel-collapse collapse">
                <div class="panel-body editable-complex">
                    <%
                    if (typeof text !== 'undefined') {
                    %>
                    <%= text %>
                    <%
                    }
                    %>
                </div>
            </div>
        </div>
    </div>

</script>
<!-- /fulltext -->

<script type="text/template" id="essence">

    <div class="panel-group" id="panel-essence">
        <div class="panel" style="box-shadow: none">
            <div class="panel-heading" style="background-color:none;">
                <h4 class="panel-title">
                    <i class="fa fa-angle-down"></i>
                    <a data-toggle="collapse" data-parent="#panel-fulltext" href="#collapse-essence">
                        Essence
                    </a>
                </h4>
            </div>
            <div id="collapse-essence" class="panel-collapse collapse">
                <div class="panel-body">
                    <i class="fa fa-spinner fa-spin"></i>
                    <!-- generated -->
                </div>
            </div>
        </div>
    </div>

</script>
<!-- /essence -->

<script type="text/template" id="navigation">

    <ul class="nav nav-tabs">
        <li><a href="#" class="action-close"><i class="fa fa-fw fa-angle-left"></i></a></li>
        <li><a href="#" class="action-star" star="<%=star %>">
                    <span class="pane-with-star <%=!star?'hidden':'' %>">
                        <i class="fa fa-star" style="color:red;"></i>
                    </span>
                    <span class="pane-without-star <%=star?'hidden':'' %>">
                        <i class="fa fa-star-o"></i>
                    </span>
        </a>
        </li>
        <li><span
                style="padding: 10px 15px; display: block;"><%= modified?'changed '+$.timeago(modified):'' %></span>
        </li>

        <li class="pull-right dropdown">
            <a class="dropdown-toggle" id="document-options" data-toggle="dropdown" href="#">
                More <i class="fa fa-angle-down fa-fw"></i>
            </a>
            <ul class="dropdown-menu" role="menu" aria-labelledby="document-options">
                <li role="presentation"><a role="menuitem" tabindex="-1" href="#"
                                           class="action-attach-file">Add Attachment</a></li>
                <li role="presentation" class="divider"></li>

                <li role="presentation"><a role="menuitem" tabindex="-1" href="#"
                                           class="action-folder-delete">Delete Folder</a></li>

            </ul>
        </li>

    </ul>

</script>
<!-- /navigation -->

<!-- included in the other templates -->
<script type="text/template" id="base-editor">

    <div class="col-lg-2">

        <!-- content -->
        <div style="margin-top: 10px; padding-bottom:10px; display:none">
            <h4>
                <i class="fa fa-fw fa-paperclip"></i> Attachments
            </h4>
            <a href="#" class="btn btn-default"><i class="fa fa-fw fa-plus"></i> Add new file</a>
        </div>

        <!--&lt;!&ndash; Document Attributes &ndash;&gt;-->
        <!--<div class="row" style="margin-top: 10px; padding-bottom:10px;">-->
        <!--<h4><i class="fa fa-fw fa-list"></i> Attributes</h4>-->
        <!--<table class="table table-striped">-->
        <!--<tbody>-->
        <!--<tr>-->
        <!--<td>Katze</td>-->
        <!--<td>Kuchen</td>-->
        <!--</tr>-->
        <!--</tbody>-->
        <!--</table>-->
        <!--</div>-->

        <div style="margin-top: 10px; padding-bottom:10px;">
            <h4><i class="fa fa-fw fa-tag"></i> Tags</h4>

            <div class="document-tags" style="margin-bottom: 10px; line-height: 20px">
                <a href="#" class="label label-default" title="Remove tag">something</a>
            </div>

            <div class="input-group">
                <input type="text" class="form-control new-tag-value" placeholder="Type..">
                  <span class="input-group-btn">
                    <button class="btn btn-default action-new-tag" type="button">Add</button>
                  </span>
            </div>
            <!-- /input-group -->

            <div>
                <h6 style="margin-bottom: 5px; line-height: 20px">Recommended tags</h6>

                <div class="tags-recommended">
                    <i class="fa fa-spinner fa-spin"></i>
                    <!-- generated -->
                </div>

            </div>

            <!-- Frequently used tags-->
            <!--<div>-->
            <!--<h6 style="margin-bottom: 5px; line-height: 20px">Your network</h6>-->

            <!--<div class="tags-network">-->
            <!--<i class="fa fa-spinner fa-spin"></i>-->
            <!--&lt;!&ndash; generated &ndash;&gt;-->
            <!--</div>-->

            <!--</div>-->

        </div>

    </div>

</script>
<!-- /base editor -->

<script type="text/template" id="text-editor">

    <div class="col-lg-9">
        <% include navigation %>
    </div>

    <div class="col-lg-7">

        <div>
            <h3 class="field-title editable-simple"><%= title %></h3>

            <div style="margin-top: 10px; line-height:20px; min-height: 100px;" class="field-text editable-complex">
                <%
                if (typeof text !== 'undefined' && text!==null && text.length!==0) {
                %>
                <%= text %>
                <%
                } else {
                %>
                Double-click to edit
                <%
                }
                %>
            </div>

        </div>


        <% include essence %>
        <% include recommendations %>

    </div>

    <% include base-editor %>

</script>
<!-- /text editor -->

<script type="text/template" id="bookmark-editor">

    <div class="col-lg-9">
        <% include navigation %>
    </div>

    <div class="col-lg-7">

        <div>
            <h3 class="field-title editable-simple"><%= title %></h3>

            <div style="margin-top: 10px; line-height:20px;" class="field-url"><a href="<%= url %>"><%= url %></a></div>

        </div>

        <% include fulltext %>
        <% include essence %>
        <% include recommendations %>

    </div>

    <% include base-editor %>

</script>
<!-- /bookmark editor -->


<script type="text/template" id="pdf-editor">

    <div class="col-lg-9">

        <ul class="nav nav-tabs">
            <li><a href="#" class="action-close"><i class="fa fa-fw fa-angle-left"></i></a></li>

            <li style="margin-left: 140px"><a href="#" class="action-previous-page"><i
                    class="fa fa-fw fa-angle-left"></i></a></li>
            <li><input type="text" class="form-control field-current-page"
                       style="width:50px; display:inline-block; float: left; text-align: center;" value="1"></li>
            <li>
                <span style="padding: 10px 15px; display: block; display: inline-block; float: left;">of <%= numberOfPages %></span>
            </li>

            <li><a href="#" class="action-next-page"><i class="fa fa-fw fa-angle-right"></i></a></li>


            <li class="pull-right"><span
                    style="padding: 10px 15px; display: block;"><%= modified?'changed '+$.timeago(modified):'' %></span>
            </li>
        </ul>

    </div>

    <div class="col-lg-7">

        <div>
            <h3 class="field-title editable-simple"><%= title %></h3>

            <div class="pdf-container">
                <!-- generated -->
            </div>

        </div>

        <% include essence %>
        <% include recommendations %>

    </div>

    <% include base-editor %>

</script>
<!-- /pdf editor -->

<script type="text/template" id="breadcrumb-database">
    <li class="dropdown">
        <i class="fa fa-dot-circle-o fa-lg"></i>
        <a class="dropdown-toggle" id="bc-db" data-toggle="dropdown" href="#" style="font-weight: bold;">
            Database
        </a>
        <i class="fa fa-angle-right fa-fw"></i>
        <ul class="dropdown-menu" role="menu" aria-labelledby="bc-db">
            <li role="presentation"><a role="menuitem" tabindex="-1" href="#"
                                       onclick="notes.dialog.folder.newFolder(null)">Create Folder</a></li>
        </ul>
    </li>
</script>
<!-- /breadcrumbs database -->


<script type="text/template" id="breadcrumb-folder">
    <li>
        <a href="#folder:<%= id %>">
            <%= name %>
        </a>
        <i class="fa fa-angle-right fa-fw"></i>
    </li>
</script>


<script type="text/template" id="folder-in-tree">
    <div class="folder level-<%=level %> folder-<%=id %>">
        <%
        if (!leaf) {
        %>
        <a href="#"><i class="fa fa-fw fa-lg fa-caret-right toggle"></i></a>
        <%
        } else {
        %>
        <i class="fa fa-fw fa-lg toggle"></i>
        <%
        }
        %>
        <a href="#folder:<%=id %>" class="name"><%=name %></a>

        <span class="pull-right count"><%=documentCount %></span>
    </div>

    <ol class="children">
        <!-- generated -->
    </ol>
</script>


<script type="text/template" id="document-in-folder-view">

    <div class="doc doc-id-<%=uniqueHash %> row">
        <div style="float:left; margin-right: 15px;">
            <div class="thumb thumb-<%=title.substring(0,1).toLowerCase() %>"
                    ><%=title.substring(0,1).toUpperCase() %>
            </div>
        </div>
        <div class="col-lg-10">

            <div class="row">
                <a href="#doc:<%=id %>" title="<%=title %>">
                    <h4 style="display: inline-block; margin: 0; overflow: hidden; white-space: nowrap; ">
                        <%
                        if (typeof thumbnailUrl !== 'undefined') {
                        %>
                        <!--<img src="<%= thumbnailUrl %>" style="max-height: 18px"/>-->
                        <%
                        }
                        %>

                        <%=title.length > 65 ? title.substring(0, 65)+'...' : title %>
                        <%
                        if (star) {
                        %>
                        <i class="fa fa-star fa-fw" style="color: #808080"></i>
                        <%
                        }
                        %>
                        <!--<i class="fa fa-paperclip fa-fw" style="color: #808080"></i>-->

                    </h4>
                </a>
                <span class="pull-right">
                    <%=notes.util.formatDate(new Date(modified)) %>
                </span>
            </div>
            <div class="row" style="color:#666666; line-height: 16px; max-height:48px; overflow:hidden">
                <%=outline %>
            </div>
            <div class="row" style="margin-top: 5px">
                <% for(var i=0; i < tags.length; i++) { %>

                <a href="#tag:<%=tags[i].name %>" class="label label-default"><%=tags[i].name %></a>

                <% } // for %>
            </div>
        </div>
    </div>

</script>
<!-- /document in folder -->


<script type="text/template" id="document-in-hits-view">

    <!--<% if(numFoundInGroup>1) { %>-->
    <!--<div style="color:#999">on <%=numFoundInGroup %> pages</div>-->
    <!--<% } // if %>-->

    <div class="doc doc-id-<%=uniqueHash %> row">
        <div style="float:left; margin-right: 15px;">
            <div class="thumb thumb-<%=title.substring(0,1).toLowerCase() %>"
                    ><%=title.substring(0,1).toUpperCase() %>
            </div>
        </div>
        <div class="col-lg-10">

            <div class="row">
                <a href="#doc:<%=id %>" title="<%=title %>">
                    <h4 style="display: inline-block; margin: 0; overflow: hidden; white-space: nowrap; ">

                        <%=title.length > 65 ? title.substring(0, 65)+'...' : title %>
                        <%
                        if (star) {
                        %>
                        <i class="fa fa-star fa-fw" style="color: #808080"></i>
                        <%
                        }
                        %>
                        <!--<i class="fa fa-paperclip fa-fw" style="color: #808080"></i>-->

                    </h4>
                </a>
                <span class="pull-right">
                    <%=notes.util.formatDate(new Date(modified)) %>
                </span>
            </div>
            <div class="row" style="color:#666666; line-height: 16px; max-height:48px; overflow:hidden">
                <% if(highlights.length > 0) {
                for(var i=0; i + 1 < highlights.length; i++) { %>
                <%= highlights[i] %>
                ...
                <% } // for %>
                <%= highlights[highlights.length-1] %>
                <% } // if %>
            </div>
            <div class="row" style="margin-top: 5px">
                <%
                if (typeof thumbnailUrl !== 'undefined') {
                for(var i=0; i < tags.length; i++) { %>

                <a href="#tag:<%=tags[i].name %>" class="label label-default"><%=tags[i].name %></a>

                <% } // for
                } // if %>
            </div>

            <!-- score -->
            <div class="ui-corner-all document-score row" title="Score <%=parseInt(score * 100) %>">
                <div style="background-color: #666666; width: <%=parseInt(score * 100) %>%; height:5px;"></div>
            </div>

        </div>
    </div>

</script>
<!-- /document in hits-->


<!-- build:js scripts/vendor.js -->
<!-- bower:js -->
<script src="bower_components/jquery/jquery.js"></script>
<script src="bower_components/jquery-ui/ui/jquery-ui.js"></script>

<script src="bower_components/jquery-timeago/jquery.timeago.js"></script>
<script type="text/javascript">

    jQuery.timeago.settings.strings = {
        prefixAgo: '',
        prefixFromNow: 'in',
        suffixAgo: '',
        suffixFromNow: '',
        seconds: 'now',
        minute: 'a minute',
        minutes: '%d minutes',
        hour: 'an hour',
        hours: '%d hours',
        day: 'a day',
        days: '%d days',
        month: 'a month',
        months: '%d month',
        year: 'a year',
        years: '%d years'
    };
</script>

<script src="bower_components/underscore/underscore-min.js"></script>
<script type="text/javascript">

    // nested templates support
    var _underscore_template = _.template;
    _.template = function (str, data) {
        // match "<% include template-id %>"
        return _underscore_template(
                str.replace(
                        /<%\s*include\s*(.*?)\s*%>/g,
                        function (match, templateId) {
                            var el = $('#' + templateId);
                            return el ? el.html() : '';
                        }
                ),
                data
        );
    };
</script>

<script src="bower_components/backbone/backbone-min.js"></script>

<!-- notifications -->
<script src="bower_components/noty/js/noty/jquery.noty.js"></script>
<script type="text/javascript">
    $(function () {
        $.noty.defaults = {
            layout: 'top',
            theme: 'defaultTheme',
            type: 'alert',
            text: '', // can be html or string
            dismissQueue: true, // If you want to use queue feature set this true
            template: '<div class="noty_message"><span class="noty_text"></span><div class="noty_close"></div></div>',
            animation: {
                open: {height: 'toggle'},
                close: {height: 'toggle'},
                easing: 'swing',
                speed: 500 // opening & closing animation speed
            },
            timeout: 1000, // delay for closing event. Set false for sticky notifications
            force: false, // adds notification to the beginning of queue when set to true
            modal: false,
            maxVisible: 5, // you can set max visible notification for dismissQueue true option,
            killer: false, // for close all notifications before show
            closeWith: ['click'], // ['click', 'button', 'hover']
            callback: {
                onShow: function () {
                },
                afterShow: function () {
                },
                onClose: function () {
                },
                afterClose: function () {
                }
            },
            buttons: false // an array of buttons
        };
    });
</script>


<script src="bower_components/noty/js/noty/layouts/top.js"></script>
<script src="bower_components/noty/js/noty/themes/default.js"></script>

<!-- editor -->
<script src="bower_components/summernote/dist/summernote.js"></script>

<!-- file upload -->
<script src="scripts/fileupload/jquery.iframe-transport.js"></script>
<script src="scripts/fileupload/jquery.fileupload.js"></script>

<!-- pdf -->
<script src="scripts/pdf/pdf.js"></script>
<script src="scripts/pdf/textlayerbuilder.js"></script>
<script src="scripts/pdfloader.js"></script>

<!-- endbower -->
<!-- endbuild -->


<!-- build:js scripts/main.js -->
<script type="text/javascript">
    var notes = {};
    var REST_SERVICE = '/notes/rest';

</script>

<script src="scripts/util.js"></script>

<script src="scripts/breadcrumb-widget.js"></script>
<script src="scripts/documentlist-widget.js"></script>

<script src="scripts/editors.js"></script>
<script src="scripts/basiceditor-widget.js"></script>
<script src="scripts/texteditor-widget.js"></script>
<script src="scripts/pdfeditor-widget.js"></script>
<script src="scripts/bookmarkeditor-widget.js"></script>

<script src="scripts/databases.js"></script>
<script src="scripts/folder-widget.js"></script>
<script src="scripts/folders.js"></script>
<script src="scripts/queries.js"></script>

<script src="scripts/app.js"></script>
<script src="scripts/core.js"></script>
<script src="scripts/model.js"></script>
<script src="scripts/dialog.js"></script>

<!-- endbuild -->


<!-- build:js scripts/plugins.js -->
<script src="bower_components/sass-bootstrap/js/affix.js"></script>
<script src="bower_components/sass-bootstrap/js/alert.js"></script>
<script src="bower_components/sass-bootstrap/js/dropdown.js"></script>
<script src="bower_components/sass-bootstrap/js/tooltip.js"></script>
<script src="bower_components/sass-bootstrap/js/modal.js"></script>
<script src="bower_components/sass-bootstrap/js/transition.js"></script>
<script src="bower_components/sass-bootstrap/js/button.js"></script>
<script src="bower_components/sass-bootstrap/js/popover.js"></script>
<script src="bower_components/sass-bootstrap/js/carousel.js"></script>
<script src="bower_components/sass-bootstrap/js/scrollspy.js"></script>
<script src="bower_components/sass-bootstrap/js/collapse.js"></script>
<script src="bower_components/sass-bootstrap/js/tab.js"></script>
<!-- endbuild -->


<script type="text/javascript">

    $(document).ready(function () {

        // -- Overwrites -------------------------------------------------------------------------------------------
        var fnCustomParse = function (data) {
            if (_.isObject(data.result)) {
                return data.result;
            } else {
                return data;
            }
        };
        Backbone.Model.prototype.parse = fnCustomParse;
        Backbone.Collection.prototype.parse = fnCustomParse;

        notes.setup();

        $('#document-list').documentList();

    });

    var SUMMERNOTE_COMPLEX_CFG = {
        height: 300,
        toolbar: [
            //['style', ['style']], // no style button
            ['style', ['bold', 'italic', 'underline', 'clear']],
            ['fontsize', ['fontsize']],
            ['color', ['color']],
            ['para', ['ul', 'ol', 'paragraph']],
            ['height', ['height']],
            //['insert', ['picture', 'link']], // no insert buttons
            ['table', ['table']], // table button
            //['help', ['help']] //no help button
        ]
    };

    var SUMMERNOTE_SIMPLE_CFG = {
        height: 35,
        toolbar: [
        ]
    };

</script>

</body>
</html>
